# Google - Environmental Insights Explorer

In [1]:
import requests
import pandas as pd

In [2]:
API = "https://alkalienvironmentalinsights-pa.googleapis.com/v1/releases/public/features/ChIJWdeZQOjKwoARqo8qxPo6AKE?key=AIzaSyBofhq7e63zkJXbp-r6SZ8V9MLjQuP01a8&language_code=en-US&alt=protojson"

headers = {
    "Authority": "alkalienvironmentalinsights-pa.googleapis.com",
    "Method": "GET",
    "Path": "/v1/releases/preview/features?locale=en-US&key=AIzaSyBofhq7e63zkJXbp-r6SZ8V9MLjQuP01a8&alt=protojson",
    "Scheme": "https",
    "Accept": "application/json, text/plain, */*",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "en-US,en;q=0.9",
    "Origin": "https://insights.sustainability.google",
    "Referer": "https://insights.sustainability.google/places/ChIJWdeZQOjKwoARqo8qxPo6AKE/download?hl=en-US",
    "Sec-Ch-Ua": '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
    "Sec-Ch-Ua-Mobile": "?0",
    "Sec-Ch-Ua-Platform": '"Windows"',
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "cross-site",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36",
    "X-Client-Data": "CJK2yQEIo7bJAQipncoBCIuEywEIlKHLAQiFoM0B"
}

### Tests

In [3]:
r = requests.get(API, headers=headers)
print(r.status_code)

200

In [4]:
content = r.json()
city = content[2]
city

'Long Beach'

In [5]:
buildings_raw = content[8][10]
transportation_raw = content[11]

### Buildings Emissions

In [6]:
def get_buildings_data(content):
    """
    Gets buildings data from response 
    and parses it into a dataframe
    """

    # NOTE: A lot of things are hard coded because the data is formatted
    # in a very specific way. If the data format changes, this function
    # will need to be updated.
    
    buildings_raw = content[8][10]
    residential_data = buildings_raw[0]
    non_residential_data = buildings_raw[1]

    buildings_dict_list = []

    for list_content in [residential_data, non_residential_data]:
        buildings_dict = {}
        buildings_dict['Type'] = list_content[0]
        buildings_dict['co2e tons'] = list_content[1]
        buildings_dict['number of buildings'] = list_content[2]
        buildings_dict['energy intensity'] = list_content[3][0][2]
        buildings_dict['floor space'] = list_content[3][0][-1]
        additonal_data = list_content[3][0][7]
        buildings_dict['electricity intensity'] = additonal_data[0][1]
        buildings_dict['electricity fraction'] = additonal_data[0][2]
        buildings_dict['natural gas intensity'] = additonal_data[1][1]
        buildings_dict['natural gas fraction'] = additonal_data[1][2]
        buildings_dict['diesel oil intensity'] = additonal_data[2][1]
        buildings_dict['diesel oil fraction'] = additonal_data[2][2]
        buildings_dict['propane intensity'] = additonal_data[3][1]
        buildings_dict['propane fraction'] = 0

        buildings_dict_list.append(buildings_dict)


    buildings_df = pd.DataFrame.from_dict(buildings_dict_list)

    return buildings_df

In [7]:
buildings_df = get_buildings_data(content)
buildings_df

,Type,co2e tons,number of buildings,energy intensity,floor space,electricity intensity,electricity fraction,natural gas intensity,natural gas fraction,diesel oil intensity,diesel oil fraction,propane intensity,propane fraction
0,Residential,900000,130617,147.50464,25662000,0.00024,0.486217,0.000203,0.256892,0.000268,0.256892,0.00021,0
1,Non-residential,505000,7710,275.39346,7660000,0.00024,0.857036,0.000203,0.071482,0.000268,0.071482,0.00021,0

In [29]:
years = [2018, 2019, 2020, 2021, 2022]
trip_types = ["INBOUND", "OUTBOUND"]
transport_dicts = []

trip_type_data = transportation_raw[0][19]
counter = 0
for trip_type_data in trip_type_data:
    data_list = trip_type_data[3]
    for row in data_list:
        transport_dict = {}
        transport_dict["mode"] = row[0] 
        transport_dict["travel bound"] = counter
        transport_dict["trips"] = row[1]
        transport_dict["distance"] = row[4] 
        transport_dicts.append(transport_dict)
    counter += 1
    trip_type_df = pd.DataFrame.from_dict(transport_dicts)
    trip_type_df.loc[:, "year"] = years[0]

In [30]:
yearly_df

   mode travel bound      trips    distance  year
0     1      INBOUND  135033076  3288331340  2018
1     5      INBOUND     998990    24327363  2018
2     7      INBOUND    1200055    19235551  2018
3     9      INBOUND     704298     6052966  2018
4    10      INBOUND    2128363     3502711  2018

In [35]:
transportation_raw[0][19][3]

IndexError: list index out of range

In [11]:
yearly_data

[1,
 917221,
 140064782,
 [[1, 135033076, 8.471735, 0.0023321966, 3288331340, 1],
  [5, 998990, None, None, 24327363, 1],
  [7, 1200055, 4.069062, 0.0025324817, 19235551, 1],
  [9, 704298, None, None, 6052966, 1],
  [10, 2128363, None, None, 3502711, 1]]]