# Google - Environmental Insights Explorer

In [1]:
import requests
import pandas as pd

In [2]:
API = "https://alkalienvironmentalinsights-pa.googleapis.com/v1/releases/public/features/ChIJWdeZQOjKwoARqo8qxPo6AKE?key=AIzaSyBofhq7e63zkJXbp-r6SZ8V9MLjQuP01a8&language_code=en-US&alt=protojson"

headers = {
    "Authority": "alkalienvironmentalinsights-pa.googleapis.com",
    "Method": "GET",
    "Path": "/v1/releases/preview/features?locale=en-US&key=AIzaSyBofhq7e63zkJXbp-r6SZ8V9MLjQuP01a8&alt=protojson",
    "Scheme": "https",
    "Accept": "application/json, text/plain, */*",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "en-US,en;q=0.9",
    "Origin": "https://insights.sustainability.google",
    "Referer": "https://insights.sustainability.google/places/ChIJWdeZQOjKwoARqo8qxPo6AKE/download?hl=en-US",
    "Sec-Ch-Ua": '"Not.A/Brand";v="8", "Chromium";v="114", "Google Chrome";v="114"',
    "Sec-Ch-Ua-Mobile": "?0",
    "Sec-Ch-Ua-Platform": '"Windows"',
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "cross-site",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36",
    "X-Client-Data": "CJK2yQEIo7bJAQipncoBCIuEywEIlKHLAQiFoM0B"
}

### Tests

In [3]:
r = requests.get(API, headers=headers)
print(r.status_code)

200

In [4]:
content = r.json()
city = content[2]
city

'Long Beach'

In [5]:
buildings_raw = content[8][10]
transportation_raw = content[11]

### Buildings Emissions

In [6]:
def get_buildings_data(content):
    """
    Gets buildings data from response 
    and parses it into a dataframe
    """

    # NOTE: A lot of things are hard coded because the data is formatted
    # in a very specific way. If the data format changes, this function
    # will need to be updated.
    
    buildings_raw = content[8][10]
    residential_data = buildings_raw[0]
    non_residential_data = buildings_raw[1]

    buildings_dict_list = []

    for list_content in [residential_data, non_residential_data]:
        buildings_dict = {}
        buildings_dict['Type'] = list_content[0]
        buildings_dict['co2e tons'] = list_content[1]
        buildings_dict['number of buildings'] = list_content[2]
        buildings_dict['energy intensity'] = list_content[3][0][2]
        buildings_dict['floor space'] = list_content[3][0][-1]
        additonal_data = list_content[3][0][7]
        buildings_dict['electricity intensity'] = additonal_data[0][1]
        buildings_dict['electricity fraction'] = additonal_data[0][2]
        buildings_dict['natural gas intensity'] = additonal_data[1][1]
        buildings_dict['natural gas fraction'] = additonal_data[1][2]
        buildings_dict['diesel oil intensity'] = additonal_data[2][1]
        buildings_dict['diesel oil fraction'] = additonal_data[2][2]
        buildings_dict['propane intensity'] = additonal_data[3][1]
        buildings_dict['propane fraction'] = 0

        buildings_dict_list.append(buildings_dict)


    buildings_df = pd.DataFrame.from_dict(buildings_dict_list)

    return buildings_df

In [99]:
def get_transportation_df():
    """
    Gets transportation data from response
    """
    trip_types_dict = {0: "INBOUND", 1: "OUTBOUND", 2: "IN-BOUNDARY"}
    mode_dict = {1: "AUTOMOBILE", 5: "TRAM", 7: "BUS", 9: "CYCLING", 10: "ON FOOT"}
    transportation_raw = content[11]
    dfs = []
    for year_data in transportation_raw:
        year = year_data[9]
        trip_type_data = year_data[19]
        counter = 0
        for trip_type_sub in trip_type_data:
            transport_dicts = []
            data_list = trip_type_sub[3]
            for row in data_list:
                transport_dict = {}
                transport_dict["mode"] = row[0] 
                transport_dict["travel bound"] = counter
                transport_dict["trips"] = row[1]
                transport_dict["full distance km"] = row[4]
                transport_dict["factor 1"] = row[2]
                transport_dict["factor 2"] = row[3]
                if transport_dict["factor 1"]:
                    transport_dict["full co2e tons"] = (row[4] * row[3]) / row[2]
                else:
                    transport_dict["full co2e tons"] = 0
                transport_dicts.append(transport_dict)
            trip_type_df = pd.DataFrame.from_dict(transport_dicts)
            trip_type_df.loc[:, "year"] = year
            counter += 1

            dfs.append(trip_type_df)
    final_df = pd.concat(dfs, ignore_index=True)
    
    # Replace the travel bound column with the actual travel bound
    final_df.loc[:, "travel bound"] = final_df.loc[:, "travel bound"].map(trip_types_dict)
    final_df.loc[:, "mode"] = final_df.loc[:, "mode"].map(mode_dict)

    return final_df

In [100]:
def get_gpc_metrics(df):

    # If travel bound is in-boundary, then the gpc distance is the same as the full distance
    # otherwise, it is half of the full distance
    df.loc[:, "gpc distance km"] = df.loc[:, "full distance km"]
    df.loc[df.loc[:, "travel bound"] != "IN-BOUNDARY", "gpc distance km"] = df.loc[df.loc[:, "travel bound"] != "IN-BOUNDARY", "full distance km"] / 2

    df.loc[:, "gpc co2e tons"] = df.loc[:, "full co2e tons"]
    df.loc[df.loc[:, "travel bound"] != "IN-BOUNDARY", "gpc co2e tons"] = df.loc[df.loc[:, "travel bound"] != "IN-BOUNDARY", "full co2e tons"] / 2

    return df

### Pipeline

In [97]:
buildings_df = get_buildings_data(content)
buildings_df

,Type,co2e tons,number of buildings,energy intensity,floor space,electricity intensity,electricity fraction,natural gas intensity,natural gas fraction,diesel oil intensity,diesel oil fraction,propane intensity,propane fraction
0,Residential,900000,130617,147.50464,25662000,0.00024,0.486217,0.000203,0.256892,0.000268,0.256892,0.00021,0
1,Non-residential,505000,7710,275.39346,7660000,0.00024,0.857036,0.000203,0.071482,0.000268,0.071482,0.00021,0

In [102]:
transportation_df = get_transportation_df()
transportation_df = get_gpc_metrics(transportation_df)

In [103]:
transportation_df

,mode,travel bound,trips,full distance km,factor 1,factor 2,full co2e tons,year,gpc distance km,gpc co2e tons
0,AUTOMOBILE,INBOUND,135033076,3288331340,8.471735,0.002332,905249.653208,2018,1.644166e+09,452624.826604
1,TRAM,INBOUND,998990,24327363,NaN,NaN,0.000000,2018,1.216368e+07,0.000000
2,BUS,INBOUND,1200055,19235551,4.069062,0.002532,11971.722450,2018,9.617776e+06,5985.861225
3,CYCLING,INBOUND,704298,6052966,NaN,NaN,0.000000,2018,3.026483e+06,0.000000
4,ON FOOT,INBOUND,2128363,3502711,NaN,NaN,0.000000,2018,1.751356e+06,0.000000
5,AUTOMOBILE,OUTBOUND,134658200,3267620482,8.471735,0.002332,899548.130130,2018,1.633810e+09,449774.065065
6,TRAM,OUTBOUND,1143783,28605316,NaN,NaN,0.000000,2018,1.430266e+07,0.000000
7,BUS,OUTBOUND,1312048,22556851,4.069062,0.002532,14038.815916,2018,1.127843e+07,7019.407958
8,CYCLING,OUTBOUND,709916,6176069,NaN,NaN,0.000000,2018,3.088034e+06,0.000000
9,ON FOOT,OUTBOUND,2181579,3564778,NaN,NaN,0.000000,2018,1.782389e+06,0.000000
10,AUTOMOBILE,IN-BOUNDARY,187362321,1186110325,8.471735,0.002332,326526.085529,2018,1.186110e+09,326526.085529
11,BUS,IN-BOUNDARY,4457588,20408473,4.069063,0.002532,12701.717375,2018,2.040847e+07,12701.717375
12,CYCLING,IN-BOUNDARY,7923401,21096452,NaN,NaN,0.000000,2018,2.109645e+07,0.000000
13,ON FOOT,IN-BOUNDARY,79227639,58670947,NaN,NaN,0.000000,2018,5.867095e+07,0.000000
14,AUTOMOBILE,INBOUND,139663291,3237191225,8.490479,0.002337,891171.266386,2019,1.618596e+09,445585.633193
15,BUS,INBOUND,1973000,40386398,3.999031,0.002489,25135.470623,2019,2.019320e+07,12567.735311
16,ON FOOT,INBOUND,1876265,3229593,NaN,NaN,0.000000,2019,1.614796e+06,0.000000
17,AUTOMOBILE,OUTBOUND,139462789,3231666160,8.490479,0.002337,889650.262889,2019,1.615833e+09,444825.131445
18,BUS,OUTBOUND,2166945,46064935,3.999031,0.002489,28669.648143,2019,2.303247e+07,14334.824072
19,ON FOOT,OUTBOUND,1915700,3182413,NaN,NaN,0.000000,2019,1.591206e+06,0.000000
20,AUTOMOBILE,IN-BOUNDARY,197470496,1046386775,8.490479,0.002337,288061.397240,2019,1.046387e+09,288061.397240
21,BUS,IN-BOUNDARY,5231460,26592600,3.999031,0.002489,16550.560317,2019,2.659260e+07,16550.560317
22,CYCLING,IN-BOUNDARY,8875649,21539554,NaN,NaN,0.000000,2019,2.153955e+07,0.000000
23,ON FOOT,IN-BOUNDARY,78342030,56052467,NaN,NaN,0.000000,2019,5.605247e+07,0.000000
24,AUTOMOBILE,INBOUND,113959480,2291137895,8.490479,0.002337,630730.814906,2020,1.145569e+09,315365.407453
25,BUS,INBOUND,1442844,24362067,3.999031,0.002489,15162.333105,2020,1.218103e+07,7581.166553
26,AUTOMOBILE,OUTBOUND,113788807,2282192464,8.490479,0.002337,628268.213683,2020,1.141096e+09,314134.106841
27,BUS,OUTBOUND,1513300,26006511,3.999031,0.002489,16185.793376,2020,1.300326e+07,8092.896688
28,AUTOMOBILE,IN-BOUNDARY,162164053,679230027,8.490479,0.002337,186986.261007,2020,6.792300e+08,186986.261007
29,BUS,IN-BOUNDARY,3261562,15150496,3.999031,0.002489,9429.284759,2020,1.515050e+07,9429.284759
30,CYCLING,IN-BOUNDARY,7917795,23529118,NaN,NaN,0.000000,2020,2.352912e+07,0.000000
31,ON FOOT,IN-BOUNDARY,44907169,40037001,NaN,NaN,0.000000,2020,4.003700e+07,0.000000
32,AUTOMOBILE,INBOUND,133852888,2871757330,8.490479,0.002337,790570.416961,2021,1.435879e+09,395285.208480
33,BUS,INBOUND,1467177,24260399,3.999031,0.002489,15099.057518,2021,1.213020e+07,7549.528759
34,AUTOMOBILE,OUTBOUND,133887659,2863093553,8.490479,0.002337,788185.352692,2021,1.431547e+09,394092.676346
35,BUS,OUTBOUND,1523405,25608950,3.999031,0.002489,15938.361485,2021,1.280448e+07,7969.180743
36,AUTOMOBILE,IN-BOUNDARY,184784858,806159271,8.490479,0.002337,221928.804483,2021,8.061593e+08,221928.804483
37,BUS,IN-BOUNDARY,3348972,15752612,3.999031,0.002489,9804.026498,2021,1.575261e+07,9804.026498
38,CYCLING,IN-BOUNDARY,7955020,24230942,NaN,NaN,0.000000,2021,2.423094e+07,0.000000
39,ON FOOT,IN-BOUNDARY,48477570,42505363,NaN,NaN,0.000000,2021,4.250536e+07,0.000000
40,AUTOMOBILE,INBOUND,138704440,3027880156,8.490479,0.002337,833549.705760,2022,1.513940e+09,416774.852880
41,BUS,INBOUND,1827004,29761622,3.999031,0.002489,18522.879299,2022,1.488081e+07,9261.439649
42,AUTOMOBILE,OUTBOUND,138697531,3014377199,8.490479,0.002337,829832.456313,2022,1.507189e+09,414916.228157
43,BUS,OUTBOUND,1931734,32372097,3.999031,0.002489,20147.572783,2022,1.618605e+07,10073.786391
44,AUTOMOBILE,IN-BOUNDARY,187175313,855591800,8.490479,0.002337,235537.160124,2022,8.555918e+08,235537.160124
45,BUS,IN-BOUNDARY,4319133,20871112,3.999031,0.002489,12989.651183,2022,2.087111e+07,12989.651183
46,CYCLING,IN-BOUNDARY,8022887,24383095,NaN,NaN,0.000000,2022,2.438310e+07,0.000000
47,ON FOOT,IN-BOUNDARY,50752679,48376069,NaN,NaN,0.000000,2022,4.837607e+07,0.000000

In [11]:
yearly_data

[1,
 917221,
 140064782,
 [[1, 135033076, 8.471735, 0.0023321966, 3288331340, 1],
  [5, 998990, None, None, 24327363, 1],
  [7, 1200055, 4.069062, 0.0025324817, 19235551, 1],
  [9, 704298, None, None, 6052966, 1],
  [10, 2128363, None, None, 3502711, 1]]]